[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = masaki39
	email = masa21gifus@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = false
[url "git@github.com:"]
	insteadOf = https://github.com/
