// coding.kdl
keybind "ctrl+alt+1"
description "Dev: dev layout for me"
hide_others false

window {
    app "Ghostty"
    screen 1
    x "0%"
    y "0%"
    w "100%"
    h "100%"
    reuse true
    focus true
}
window {
    app "Obsidian"
    screen 0
    x "0%"
    y "0%"
    w "100%"
    h "100%"
    reuse true
}
window {
    app "Google Chrome"
    screen 0
    x "0%"
    y "0%"
    w "100%"
    h "100%"
    reuse true
}
